<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Listener Suite">

    <!-- Step 1: Register Listener -->
    <listeners>
        <listener class-name="testng.ListenerTestCase2"/>
    </listeners>

    <!-- Step 2: Define Test -->
    <test name="Listener Test Execution">
        <classes>
            <class name="testng.ListenerTestCase"/>
        </classes>
    </test>

</suite>
